body{
	background-image:url(../images/bg.jpg);
	color:#FFFFFF;
}
li{
	list-style:none;
}
#banner{
	width:1300px;
	height:400px;
	background-image: url(../images/IMG_0932.JPG);
	background-repeat:no-repeat;
    background-position:center;
}
#nav{
	background-image:url(../images/bg.jpg);
    background-repeat:no-repeat;
}
.nav_body{
	width:1000px;
	text-align:center;
}
.nav_body ul{
	width:800px;
    font-weight:bold;
}
.nav_body ul a{
    padding:2px 5px;
	color:#CCDDFF;
	line-height: 40px;
	text-decoration: none;
	float:left;
	font-family:buxton sketch;
	font-size:25px;

}
.nav_body ul a:hover{
	color:#7B68EE;
	text-decoration: none;
}
.news{
	float:left;
	life-style:none;
	text-align:center;
}
.news a{
	text-decoration:none;
	color:#E6E6FA;
}
.news a:hover{
    text-decoration:none;
	color:#DDA0DD;
}
.imgage{
    float:left;
    text-align:center;
    padding-left:20px;
}
.imgage img{
    opacity:1.0;
    filter:alpha(opacity=100);
}
.imgage img:hover{
    opacity:0.5;
    filter:alpha(opacity=50); 
}
.imgage img{
    display:inline;
    margin:3px;
    border:1px; solid #bebebe;
    width:150px;
    height:200px;
    padding-left:10px;
}
.imgage a:hover img{
    border:1px; solid #333333;
}
.desc{
	color:#FFFFFF;
	text-align:center;
}
.desc a{
	color:#FFFFFF;
	text-decoration:none;
}
.desc a:hover{
    color:#666666;
}
.member{
	width:750px;
	height:500px;
}
td img{
	width:400px;
	height:400px;
}
#tour{
	width:1200px;
	height:500px;
	padding-left:40px;
}
.logo{
	width:400px;
	height:300px;
}
#date{
	width:400px;
	float:left;
}
#site{
	width:300px;
	float:left;
}
#sold{
	width:300px;
	float:left;
}